<p id="notice"><%= notice %></p>

<h1>Listing Spaces</h1>

<table>
  <thead>
    <tr>
      <th>District</th>
      <th>Location</th>
      <th>Address</th>
      <th>Accomodates</th>
      <th>Amenities</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= space.district %></td>
        <td><%= space.location %></td>
        <td><%= space.address %></td>
        <td><%= space.accomodates %></td>
        <td><%= space.amenities %></td>
        <td><%= space.start_time %></td>
        <td><%= space.end_time %></td>
        <td><%= space.rate %></td>
        <td><%= link_to 'Show', space %></td>
        <td><%= link_to 'Edit', edit_space_path(space) %></td>
        <td><%= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space', new_space_path %>
