<p id="notice"><%= notice %></p>

<p>
  <strong>District:</strong>
  <%= @space.district %>
</p>

<p>
  <strong>Location:</strong>
  <%= @space.location %>
</p>

<p>
  <strong>Address:</strong>
  <%= @space.address %>
</p>

<p>
  <strong>Accomodates:</strong>
  <%= @space.accomodates %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @space.amenities %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @space.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @space.end_time %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @space.rate %>
</p>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
